*{background-color: black;}

h1 {
    
    color: blueviolet;

}

h3 {

    color: blueviolet;

}

h1 {

    color: blanchedalmond;
    font-size: 2rem;
    font-weight: 300;
    
}

h2 {

    color: blanchedalmond;
    font-size: 3rem;
    font-weight: 400;
}