*{
    
    background-color:black;

}

p {

    color: blanchedalmond;
}


h1 {

    color:blanchedalmond;
    font-size: 3rem;
    font-weight: 550;

}

h2 {

    color: blueviolet;
    font-size: 2rem;
    font-weight: 150;

}

p {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}







#Macedonia {

    background-color: aqua;
    
}

#Germany {

    background-color: blueviolet;

}

#Turkey {
    background-color: chartreuse;

}

#Poland {

    background-color: springgreen;

}

#America {

    background-color: violet;

}


.countries {

    color: red;
    
}