#Macedonia {

    background-color: aqua;
}

#Germany {

    background-color: blueviolet;

}

#Turkey {
    background-color: chartreuse;

}

#Poland {

    background-color: springgreen;

}

#America {

    background-color: violet;

}


.countries {

    color: red;
    
}